*.elc
*-history
*recentf
*-bookmarks
*-projects
/*org-clock-save.el
/.cache/
/.sx/
/elpa/
/devdocs/
*.sqlite
/autosaves/
/auto-save-list/
/backups/
/abbrev_defs
/epkgs/
/triples.db
/request/
/eln-cache/
/detached/
*.sql
/projects
/eshell/
\.emacs\.desktop
\.org-generic-id-locations
\.org-id-locations
/history
/kkcrc
/org-gcal/
/newsticker/
/emojis/
/url/
/var/
/annotations
/dmenu-items
/gcal-auth.plist
/mastodon.plstore
/network-security.data
/tramp
