elnode/
emms/
elpa/
site-lisp/
\.cask/
var/
eshell/
url/
.python-environments/

user-lisp/passwords.el.gpg
custom.el
tramp
\.edbi-ds-history
\.mc-lists.el
\.places
ac-comphist.dat
session\.*
.sx/
forge-database.sqlite
*~
